<div class="container">
  <h1>About Me</h1>
  <p>I am Kyle Isaac A. Mendoza, Born in September 24, 2001. Currently 22 yrs old, and bad at coding</p>
  <%= link_to "Go back to Home", root_path %>
</div>